<section id="home" class="m2-Surgical-landing surgeries">
  <div class="container">
    <div class="landing-content">
      <div class="col-12">
        <h1>Surgeries</h1>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">VASCULAR SURGERY (EVLT)</h2>
          <div class="wow fadeInUp">
            <p>The EVLT is a minimally invasive medical procedure used to treat varicose veins, which are swollen and
              twisted veins
              that usually occur in the legs.</p>
            <p>In the EVLT, the doctor performs the procedure under anesthesia and inserts a thin optical fiber (400μm
              or 600μm) into
              the patient's affected vein through a small incision. Laser energy is delivered into the vein, generating
              heat that
              causes the vein walls to collapse and close.</p>
            <p>This effectively seals off the varicose vein, improving symptoms and appearance. The recovery is usually
              quick, and
              hospitalization is often not required.</p>
            <ol type="1">
              <li>Less Pain</li>
              <li>Better Cosmetics</li>
              <li>No Recurrence</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/surgeries/2.png" alt="">
      </div>
    </div>
  </div>
</section>
<section id="m2-accessories" class="">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/surgeries/3.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">ENT</h2>
          <div class="wow fadeInUp">
            <p>Laser energy for ENT surgery can be used to vaporize, ablate and cut soft tissue while providing lateral
              thermal injury
              capable of coagulating blood vessels.</p>
            <p>Use in conjunction with the micro endoscope whether rigid or flexible, all options are available for safe
              and effective
              energy delivery.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">LIPOLYSIS</h2>
          <div class="wow fadeInUp">
            <p style="color: #05a9ca;margin-bottom: 2px;">Your Next Step is Laser Lipolysis</p>
            <p>The 1470nm wavelength is specifically designed to selectively attack two main targets in the body: water
              and fat.</p>
            <p>Laser-induced selective heat melts stubborn fat that escapes through tiny access holes in the treated
              area, while
              causing immediate skin shrinkage. This process tightens and shrinks the connective membranes, activates
              the production
              of new collagen in the skin and the metabolic functions of the skin cells. Finally, skin sagging is
              reduced and skin
              looks firm and instantly lifted.</p>
            <ol type="1">
              <li>Better Results</li>
              <li>Less Bleeding and Bruises</li>
              <li>Less Operative Time</li>
              <li>Very Easy Liposuction</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/surgeries/4.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/surgeries/5.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">Facial Contouring</h2>
          <div class="wow fadeInUp">
            <p>Facial contouring is a minimally invasive laser-based procedure that enhances the youthfulness and
              attractiveness of the
              face. It utilizes the S1 Pro laser with a 1470nm wavelength to selectively target water and fat in the
              skin, resulting
              in fat reduction and skin tightening. The procedure is safe, minimally invasive, and offers various
              benefits such as
              affordability, minimal downtime, instant results, and long-term skin improvement. It is suitable for all
              skin types and
              provides a scar-free outcome. The facial laser machine used in the procedure is easy to use and ensures a
              safe and
              comfortable experience for both practitioners and clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue lastSection">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">ORTHOPEDICS (PLDD)</h2>
          <div class="wow fadeInUp">
            <p>Compared with surgery, percutaneous laser decompression surgery is the least aggressive treatment</p>
            <ol type="1">
              <li>The success rate is %89-70</li>
              <li>The complication rate is mainly intervertebral discitis , which is %1.0-0.3</li>
              <li>The average time to resume normal activities is 1 week.</li>
              <li>The recurrence rate is only %5-4</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/surgeries/6.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- GOOGLE MAP -->
<section id="google-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.9061505016048!2d31.1954115!3d30.0395502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847de5da4b3bd%3A0xa9a4f32d90bdd820!2zVGVjaHNreSBDb-KAmSB8INiq2YMg2LPZg9in2Yo!5e0!3m2!1sen!2sus!4v1703271270224!5m2!1sen!2sus"
    width="100%" height="350" style="border:0;" frameborder="0" allowfullscreen="allow" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>