<section id="home" class="m2-Surgical-landing laser-fiber">
  <div class="container">
    <div class="landing-content">
      <div class="col-12">
        <h1>LASER FIBER</h1>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/laser-fiber/1.jpg" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">LASER RADIAL FIBER</h2>
          <div class="wow fadeInUp">
            <p>Connector: standard SMA 905</p>
            <p>Fiber diameter: 400/730um, 600/750um</p>
            <p>Glass OD: 1.2mm</p>
            <p>Glass length: 10mm</p>
            <p>Transmittance: >90%</p>
            <p>ETO sterilization, double packing</p>
            <p>360° radiation and optimized handling, standard for endovenous laser therapy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">LASER HEMORRHOIDS FIBER</h2>
          <div class="wow fadeInUp">
            <p>Hemorrhoid Fiber Probe 600μm</p>
            <p>NA=0.22</p>
            <p>Distal end OD: 1800μm</p>
            <p>CE approved</p>
            <p>Sterile</p>
            <p>Standard SMA905 connector</p>
            <p>Effective laser emission into the hemorrhoidal node Special conical design for cutting and coagulation
              Maximized
              stability and durability</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/laser-fiber/3.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/laser-fiber/2.jpg" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">LASER BARE FIBER</h2>
          <div class="wow fadeInUp">
            <p>CE approved, 3 meters length.</p>
            <p>Suitable for general surgery, different sizes are available according to the actual situation.</p>
            <p>It can be used for ENT, PLDD, Vascular Surgery, Hemorrhoids, Cosmetic.</p>
            <p>200μm,300μm,400μm,600μm,800μm and 1000μm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>